<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Yasminin Blog Sayfası</h1>
    {% for blog in bloglar %}
    <h2><a href={% url 'blogdetail' pk=blog.id %}> {{blog.title}}</a></h2> <br>
    <p>{{blog.content}}</p>
    <p>{{blog.created_date}}</p>
    {% endfor %}

<br>
<p><a href={% url 'index' %}>Anasayfa</a></p>
<p><a href={% url 'blogadd' %}>Yeni Gönderi Ekle</a></p>
</body>

</html>