<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <h1>{{blog.title}}</h1>
    <h2>{{blog.content}}</h2>
    <p>{{blog.created_date}}</p>


<br>
<p><a href={% url 'blogedit' pk=blog.id %}>Düzenle</a></p>
<p><a href={% url 'index' %}>Anasayfa</a></p>
<p><a href={% url 'bloglist' %}>Gönderilerin Listesi</a></p>
</body>

</html>